In [11]:
!pip install fredapi -q
!pip install kaggle -q

In [6]:
#Creating a kaggle folder in root dir
import os

# Define the path to the .kaggle directory
kaggle_directory = os.path.join(os.path.expanduser("~"), ".kaggle")

# Create the .kaggle directory
try:
    os.mkdir(kaggle_directory)
    print(".kaggle directory created successfully.")
except FileExistsError:
    print(".kaggle directory already exists.")
except Exception as e:
    print("Error creating .kaggle directory:", e)

.kaggle directory already exists.

In [13]:
# Import Dependencies
import fredapi as fa
import pandas as pd
import matplotlib.pyplot as plt
# Import the Fred API key
#import kaggle
import kaggle

In [14]:
import subprocess

# Replace 'Isaac Technology' with your actual Windows username if needed
source_path = r'C:\Users\Isaac Technology\Downloads\kaggle.json'
destination_path = r'C:\Users\Isaac Technology\kaggle.json'

try:
    subprocess.run(['copy', source_path, destination_path], shell=True, check=True)
    print("File copied successfully.")
except subprocess.CalledProcessError as e:
    print(f"Error while copying the file: {e}")

File copied successfully.

In [15]:
# Import the Fred API key
#from Config_fred_api import api_key
fred_api_key = "33712713d4434460be0b9c2287048352"

# Initialize the Fred API client with the API key
fred = fa.Fred(fred_api_key)

In [16]:
Chicago_Home_Price_Index = fred.get_series('CHXRSA') 
Chicago_Home_Price_Index.name = 'Chicago_Home_Price_Index'
Chicago_Home_Price_Index.tail

<bound method NDFrame.tail of 1987-01-01     54.206479
1987-02-01     55.227274
1987-03-01     54.811034
1987-04-01     54.801947
1987-05-01     55.477466
                 ...
2022-12-01    184.446668
2023-01-01    184.600190
2023-02-01    185.328659
2023-03-01    186.948330
2023-04-01    188.603684
Name: Chicago_Home_Price_Index, Length: 436, dtype: float64>

In [17]:
#Total Gross Domestic Product for Chicago-Naperville-Elgin, IL-IN-WI (MSA) (NGMP16980)
#
GDP_Chicago = fred.get_series('NGMP16980')
GDP_Chicago.name = 'GDP_Chicago'
GDP_Chicago.head

<bound method NDFrame.head of 2001-01-01    401407.693
2002-01-01    411155.211
2003-01-01    425385.586
2004-01-01    449004.156
2005-01-01    472993.552
2006-01-01    500969.502
2007-01-01    523165.163
2008-01-01    520597.015
2009-01-01    510758.958
2010-01-01    523098.041
2011-01-01    542384.780
2012-01-01    570954.874
2013-01-01    583070.720
2014-01-01    609478.180
2015-01-01    636938.865
2016-01-01    647455.652
2017-01-01    665476.512
2018-01-01    700534.917
2019-01-01    720832.051
2020-01-01    692890.912
2021-01-01    764583.227
Name: GDP_Chicago, dtype: float64>

In [18]:
#Unemployment Rate in Chicago-Naperville-Elgin, IL-IN-WI (MSA) (CHIC917URN)
Unemployment_Rate_Chicago = fred.get_series('CHIC917URN')
Unemployment_Rate_Chicago.name ='Unemployment_Rate_Chicago'
Unemployment_Rate_Chicago.head

<bound method NDFrame.head of 1990-01-01    6.9
1990-02-01    6.6
1990-03-01    6.3
1990-04-01    6.5
1990-05-01    6.1
             ...
2023-01-01    4.7
2023-02-01    4.4
2023-03-01    4.3
2023-04-01    3.4
2023-05-01    3.5
Name: Unemployment_Rate_Chicago, Length: 401, dtype: float64>

In [19]:
# State Minimum Wage Rate for Illinois (STTMINWGIL)
Minimum_Wage_Illinois = fred.get_series('STTMINWGIL')
Minimum_Wage_Illinois.name = 'Minimum_Wage_Illinois'
Minimum_Wage_Illinois.head

<bound method NDFrame.head of 1972-01-01     1.40
1973-01-01     1.40
1974-01-01     1.40
1975-01-01     1.40
1976-01-01     2.10
1977-01-01     2.10
1978-01-01     2.10
1979-01-01     2.30
1980-01-01     2.30
1981-01-01     2.30
1982-01-01     2.30
1983-01-01     2.30
1984-01-01     2.30
1985-01-01     2.30
1986-01-01     2.30
1987-01-01     2.30
1988-01-01     2.30
1989-01-01     2.30
1990-01-01     2.30
1991-01-01     3.80
1992-01-01     4.25
1993-01-01     4.25
1994-01-01     4.25
1995-01-01     4.25
1996-01-01     4.25
1997-01-01     4.75
1998-01-01     5.15
1999-01-01     5.15
2000-01-01     5.15
2001-01-01     5.15
2002-01-01     5.15
2003-01-01     5.15
2004-01-01     5.50
2005-01-01     6.50
2006-01-01     6.50
2007-01-01     6.50
2008-01-01     7.50
2009-01-01     7.75
2010-01-01     8.00
2011-01-01     8.25
2012-01-01     8.25
2013-01-01     8.25
2014-01-01     8.25
2015-01-01     8.25
2016-01-01     8.25
2017-01-01     8.25
2018-01-01     8.25
2019-01-01     8.25
2020-01-01    10.00
2021-01-01    11.00
2022-01-01    12.00
2023-01-01    13.00
Name: Minimum_Wage_Illinois, dtype: float64>

In [20]:
#All-Transactions House Price Index for Illinois (ILSTHPI)
House_Price_Index_Illinois =fred.get_series('ILSTHPI')
House_Price_Index_Illinois.name ='House_Price_Index_Illinois'
House_Price_Index_Illinois.head

<bound method NDFrame.head of 1975-01-01     66.58
1975-04-01     62.20
1975-07-01     64.05
1975-10-01     66.68
1976-01-01     67.78
               ...
2022-01-01    419.89
2022-04-01    446.38
2022-07-01    451.68
2022-10-01    445.74
2023-01-01    448.22
Name: House_Price_Index_Illinois, Length: 193, dtype: float64>

In [21]:
#Gross Domestic Product: All Industry Total in Illinois (ILNQGSP)
GDP_Total_Illinois = fred.get_series('ILNQGSP')
GDP_Total_Illinois.name = 'GDP_Total_Illinois'
GDP_Total_Illinois.head

<bound method NDFrame.head of 2005-01-01     582315.2
2005-04-01     585846.2
2005-07-01     593681.0
2005-10-01     597405.0
2006-01-01     615033.8
                ...
2022-01-01    1009986.4
2022-04-01    1024018.9
2022-07-01    1041662.8
2022-10-01    1057572.3
2023-01-01    1071551.5
Name: GDP_Total_Illinois, Length: 73, dtype: float64>

In [22]:
#Resident Population in Illinois (ILPOP)
Resident_Population_Illinois = fred.get_series('ILPOP')
Resident_Population_Illinois.name = 'Resident_Population_Illinois'
Resident_Population_Illinois.head

<bound method NDFrame.head of 1900-01-01     4828.000
1901-01-01     4914.000
1902-01-01     4992.000
1903-01-01     5071.000
1904-01-01     5161.000
                ...
2018-01-01    12724.685
2019-01-01    12667.017
2020-01-01    12786.580
2021-01-01    12686.469
2022-01-01    12582.032
Name: Resident_Population_Illinois, Length: 123, dtype: float64>

In [23]:
# Merge Resident_Population_Illinois and GDP_Total_Illinois on their common index
df_merge_Illinois = pd.merge(Resident_Population_Illinois, GDP_Total_Illinois, left_index=True, right_index=True)

# Merge House_Price_Index_Illinois with the previous merged DataFrame
df_merge_Illinois = pd.merge(df_merge_Illinois, House_Price_Index_Illinois, left_index=True, right_index=True)

# Merge Minimum_Wage_Illinois with the previously merged DataFrame
df_merge_Illinois = pd.merge(df_merge_Illinois, Minimum_Wage_Illinois, left_index=True, right_index=True)
df_merge_Illinois.head

<bound method NDFrame.head of             Resident_Population_Illinois  GDP_Total_Illinois  \
2005-01-01                     12609.903            582315.2
2006-01-01                     12643.955            615033.8
2007-01-01                     12695.866            640898.7
2008-01-01                     12747.038            650988.6
2009-01-01                     12796.778            646138.9
2010-01-01                     12840.545            652523.5
2011-01-01                     12867.783            680955.8
2012-01-01                     12883.029            721011.3
2013-01-01                     12895.778            737708.8
2014-01-01                     12885.092            751153.3
2015-01-01                     12859.585            790762.1
2016-01-01                     12821.709            800575.2
2017-01-01                     12779.893            813314.9
2018-01-01                     12724.685            852709.2
2019-01-01                     12667.017            880781.3
2020-01-01                     12786.580            880974.3
2021-01-01                     12686.469            910042.6
2022-01-01                     12582.032           1009986.4

            House_Price_Index_Illinois  Minimum_Wage_Illinois
2005-01-01                      334.74                   6.50
2006-01-01                      360.82                   6.50
2007-01-01                      372.70                   6.50
2008-01-01                      368.09                   7.50
2009-01-01                      345.86                   7.75
2010-01-01                      316.91                   8.00
2011-01-01                      303.59                   8.25
2012-01-01                      295.59                   8.25
2013-01-01                      293.32                   8.25
2014-01-01                      297.62                   8.25
2015-01-01                      311.96                   8.25
2016-01-01                      318.66                   8.25
2017-01-01                      327.11                   8.25
2018-01-01                      337.54                   8.25
2019-01-01                      343.34                   8.25
2020-01-01                      354.98                  10.00
2021-01-01                      369.49                  11.00
2022-01-01                      419.89                  12.00  >

In [24]:
# To get the number of rows and columns in the DataFrame
num_rows, num_columns = df_merge_Illinois.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 18
Number of columns: 4

In [25]:
df_realtor_data = pd.read_csv('C:\\Users\\Isaac Technology\\Desktop\\Data Analytics Boot Camp\\Project_1\\Project-1\\realtor-data.csv')

df_realtor_data.head

<bound method NDFrame.head of           status      price   bed  bath  acre_lot  \
0       for_sale   105000.0   3.0   2.0      0.12
1       for_sale    80000.0   4.0   2.0      0.08
2       for_sale    67000.0   2.0   1.0      0.15
3       for_sale   145000.0   4.0   2.0      0.10
4       for_sale    65000.0   6.0   2.0      0.05
...          ...        ...   ...   ...       ...
613154  for_sale   429000.0   6.0   3.0      0.12
613155  for_sale  1095000.0   5.0   5.0      0.24
613156  for_sale  1500000.0   6.0   3.0      3.97
613157  for_sale   550000.0  11.0   3.0      0.28
613158  for_sale   375000.0   7.0   5.0       NaN

                                             full_address  \
0       Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601
1                 Km 78 9 Carr # 135, Adjuntas, PR, 00601
2                 556G 556-G 16 St, Juana Diaz, PR, 00795
3       R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...
4                         14 Navarro, Mayaguez, PR, 00680
...                                                   ...
613154           556 Walnut St, Elizabeth City, NJ, 07201
613155             386 Page Ave, Staten Island, NY, 10307
613156        84 Hillcrest Rd, Bridgewater Twp, NJ, 08836
613157             25 Chestnut St, East Orange, NJ, 07018
613158               196 Astoria Pl, Union Twp, NJ, 07083

                                               street             city  \
0                        Sector Yahuecas Titulo # V84         Adjuntas
1                                  Km 78 9 Carr # 135         Adjuntas
2                                    556G 556-G 16 St       Juana Diaz
3       R5 Comunidad El Paraso Calle De Oro R-5 Ponce            Ponce
4                                          14 Navarro         Mayaguez
...                                               ...              ...
613154                                  556 Walnut St   Elizabeth City
613155                                   386 Page Ave    Staten Island
613156                                84 Hillcrest Rd  Bridgewater Twp
613157                                 25 Chestnut St      East Orange
613158                                 196 Astoria Pl        Union Twp

              state  zip_code  house_size   sold_date
0       Puerto Rico     601.0       920.0         NaN
1       Puerto Rico     601.0      1527.0         NaN
2       Puerto Rico     795.0       748.0         NaN
3       Puerto Rico     731.0      1800.0         NaN
4       Puerto Rico     680.0         NaN         NaN
...             ...       ...         ...         ...
613154   New Jersey    7201.0         NaN  2019-09-10
613155     New York   10307.0      3140.0  2008-06-16
613156   New Jersey    8836.0      3994.0         NaN
613157   New Jersey    7018.0         NaN  2019-01-07
613158   New Jersey    7083.0         NaN  2003-07-09

[613159 rows x 12 columns]>